<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turismo.castilla">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Castilla">
        <activity
            android:name=".DescriVinedos"
            android:exported="false" />
        <activity
            android:name=".DescriHotel"
            android:exported="false" />
        <activity
            android:name=".DescriTurismo"
            android:exported="false" />
        <activity
            android:name=".GastroCorire"
            android:exported="false" />
        <activity
            android:name=".DescriRestaurante"
            android:exported="false" />
        <activity
            android:name=".GastronomiaAplao"
            android:exported="false" />
        <activity
            android:name=".Pruebas"
            android:exported="false" />
        <activity
            android:name=".Movilidad"
            android:exported="false" />
        <activity
            android:name=".Vinedos"
            android:exported="false" />
        <activity
            android:name=".Turismo"
            android:exported="false" />
        <activity
            android:name=".Hoteles"
            android:exported="false" />
        <activity
            android:name=".LocalDistrito"
            android:exported="false" />
        <activity
            android:name=".LocalInfo"
            android:exported="false" />
        <activity
            android:name=".Eleccion"
            android:exported="false" />
        <activity
            android:name=".Distritos"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoriaApl"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MenuInformacion"
            android:exported="false" />
        <activity
            android:name=".MenuDistritos"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>