<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turismo.castilla">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Castilla">
        <activity
            android:name=".GastroAplaoRec"
            android:exported="false" />
        <activity
            android:name=".hotelhuancarqui"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Castilla.NoActionBar" />
        <activity
            android:name=".gastrohuancarqui"
            android:exported="false" />
        <activity
            android:name=".noticiascastilla"
            android:exported="false" />
        <activity
            android:name=".qhuancarqui"
            android:exported="false" />
        <activity
            android:name=".generalmovilidad"
            android:exported="false" />
        <activity
            android:name=".generalvinedos"
            android:exported="false" />
        <activity
            android:name=".generalturismo2"
            android:exported="false" />
        <activity
            android:name=".queuraca2"
            android:exported="false" />
        <activity
            android:name=".generalhotel2"
            android:exported="false" />
        <activity
            android:name=".generalgastronomia"
            android:exported="false" />
        <activity
            android:name=".queuraca"
            android:exported="false" />
        <activity
            android:name=".quehuancarqui"
            android:exported="false" />
        <activity
            android:name=".EventosInfo"
            android:exported="false" />
        <activity
            android:name=".FotosWeb"
            android:exported="false" />
        <activity
            android:name=".PortaFotos"
            android:exported="false" />
        <activity
            android:name=".Desarrollador"
            android:exported="false" />
        <activity
            android:name=".Youtube"
            android:exported="false" />
        <activity
            android:name=".DescriVinedos"
            android:exported="false" />
        <activity
            android:name=".DescriHotel"
            android:exported="false" />
        <activity
            android:name=".DescriTurismo"
            android:exported="false" />
        <activity
            android:name=".GastroCorire"
            android:exported="false" />
        <activity
            android:name=".DescriRestaurante"
            android:exported="false" />
        <activity
            android:name=".GastronomiaAplao"
            android:exported="false" />
        <activity
            android:name=".Pruebas"
            android:exported="false" />
        <activity
            android:name=".Movilidad"
            android:exported="false" />
        <activity
            android:name=".Vinedos"
            android:exported="false" />
        <activity
            android:name=".Turismo"
            android:exported="false" />
        <activity
            android:name=".Hoteles"
            android:exported="false" />
        <activity
            android:name=".LocalDistrito"
            android:exported="false" />
        <activity
            android:name=".LocalInfo"
            android:exported="false" />
        <activity
            android:name=".Eleccion"
            android:exported="false" />
        <activity
            android:name=".Portada"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Distritos"
            android:exported="false" />
        <activity
            android:name=".HistoriaApl"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MenuInformacion"
            android:exported="false" />
        <activity
            android:name=".MenuDistritos"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>